<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      canvas {
        border: 1px solid black;
      }

      #problem-viewer {
        display: inline-block;
      }

      #controls {
        text-align: center;
      }

      #controls input {
        width: 20px;
      }

      .preview-canvas {
        padding: 10px;
      }er
    </style>
  </head>
    <title>Viewer</title>
  <body>
    <div id="problem-viewer">
      <canvas width="500" height="500"></canvas>

      <br />

      <div id="controls">
        <button id="prev-button">&lt;</button>
        <input type="text" id="current-problem" /> / <span id="problems-count"></span>
        <button id="next-button">&gt;</button>
      </div>

    </div>

    <div id="previews">
    </div>

    <textarea cols="80" rows="60"><%= content %></textarea>

    <button id="parse-button">Parse</button>

    <script src="viewer.js" type="text/javascript"></script>
  </body>
</html>